<div class="employees-stats-card">
  <app-dynamic-card>
    <div class="card__header">
      <h2>Employees Stats</h2>
      <p>New employees on 19th September, 2022</p>
    </div>
    <div class="card__body">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Dacota Rice</td>
            <td>36.738</td>
            <td>Sweden</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Dacota Rice</td>
            <td>36.738</td>
            <td>Sweden</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Dacota Rice</td>
            <td>36.738</td>
            <td>Sweden</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Dacota Rice</td>
            <td>36.738</td>
            <td>Sweden</td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-dynamic-card>
</div>