<!-- <p>work-index works!</p> -->
<div class="card">
  <div class="card__icon-wrapper" [style.backgroundColor]="card?.cardIconBackgroundColor">
    <img class="" [src]="card?.cardIconName">
  </div>
  <div class="card__text">
    <h4 class="card__title">{{card?.title}}</h4>
    <p class="card__indicator"><span class="material-icons">{{card?.indexIcon}}</span>{{card?.index}}</p>
    <hr>
    <p class="card__info">
      <a href="#">
        <span class="card__info-icon material-icons">{{card?.infoIconName}}</span>
        {{card?.info}}</a>
    </p>
  </div>
</div>
