<div class="user-profile-card">
  <div class="user-profile-card__text">
    <div class="user-profile-card__photo-wrapper">
      <img class="" src="assets/images/user.png">
    </div>
    <h4 class="user-profile-card__position">CEO / CO-FOUNDER</h4>
    <p class="user-profile-card__initials">Alec Thompson</p>
    <p class="user-profile-card__quote">
    Don`t be scared of the truth because we need to restart the human foundation in truth. And I love you like Kanye loves Rick Owens` bed design but the back is...</p>
  </div>
</div>
