@use '../../../assets/variables/variables.scss' as vars;

:host {
  grid-area: profile-edit-card;
}

.profile-edit-card {

  .card__header {
    padding: 15px;
    
    font-size: 22px;
    color: vars.$color-slate-50;
    box-shadow: 3px 2px 3px vars.$color-slate-300;
    background-color: vars.$color-pink-600;

    position: relative;
    top: -20px;

    & > h2 {
      margin-bottom: 10px;
    }

    & > p {
      font-size: 18px;
    }
  }

  // .card__body {}

  .user-profile-form {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, minmax(80px, 1fr));
    grid-template-rows: repeat(11, auto);
  }

  button {
    max-width: 220px;
    padding: 5px 10px;
    margin-top: 10px;

    background-color: vars.$color-pink-600;
    color: vars.$color-slate-50;

    &:active {
      transform: scale(0.96);
    }
  }

  @media (min-width: 1280px) {
    .user-profile-form {
      grid-template-columns: repeat(6, minmax(80px, 1fr));
      grid-template-rows: repeat(6, auto);
    
      &__company-input {
        grid-column: span 2;
      }
      &__username-input {
        grid-column: span 2;
      }
      &__email-input {
        grid-column: span 2;
      }
      &__first-name-input {
        grid-column: span 3;
      }
      &__last-name-input {
        grid-column: span 3;
      }
      &__address-input {
        grid-column: span 6;
      }
      &__city-input {
        grid-column: span 2;
      }
      &__country-input {
        grid-column: span 2;
      }
      &__postal-code-input {
        grid-column: span 2;
      }
      &__about-me-input {
        grid-column: span 6;
      }
    }

    button {
      grid-column: span 2;
      grid-column: 5/7;
    }
  }
}
