@use '../../../assets/variables/variables.scss' as vars;

.profile-edit-card {

  .card__header {
    padding: 15px;
    
    font-size: 22px;
    color: vars.$color-slate-50;
    box-shadow: 3px 2px 3px vars.$color-slate-300;
    background-color: vars.$color-pink-600;

    position: relative;
    top: -20px;

    & > p {
      font-size: 18px;
    }
  }

  // .card__body {}

  .user-profile-form {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    grid-template-rows: repeat(6, auto);
    // grid-template-areas:
    // "company company username username email email"
    // "first-name first-name first-name last-name last-name last-name"
    // "address address address address address address"
    // "city city country country postal-code postal-code"
    // "about-me about-me about-me about-me about-me about-me";
   
    &__company-input {
      // grid-area: company;
      grid-column: span 2;
    }
    &__username-input {
      // grid-area: username;
      grid-column: span 2;
    }
    &__email-input {
      // grid-area: email;
      grid-column: span 2;
    }
    &__first-name-input {
      // grid-area: first-name;
      grid-column: span 3;
    }
    &__last-name-input {
      // grid-area: last-name;
      grid-column: span 3;
    }
    &__address-input {
      // grid-area: address;
      grid-column: span 6;
    }
    &__city-input {
      // grid-area: city ;
      grid-column: span 2;
    }
    &__country-input {
      // grid-area: country;
      grid-column: span 2;
    }
    &__postal-code-input {
      // grid-area: postal-code;
      grid-column: span 2;
    }
    &__about-me-input {
      // grid-area: about-me;
      grid-column: span 6;
    }
  }

  button {
    grid-column: span 2;
    grid-column: 5/7;

    padding: 5px 10px;
    margin-top: 10px;

    background-color: vars.$color-pink-600;
    color: vars.$color-slate-50;

    &:active {
      transform: scale(0.96);
    }
  }
}