@use '../../../../assets/variables/variables.scss' as vars;

.active {
  background-color: vars.$color-pink-600;
}

.link-item {
  a {
    padding: 15px 15px;
    cursor: pointer; 

    display: flex;
    align-items: center;

    &.active {
      transition: all 0.3s linear;
      color: vars.$color-slate-50;
    }

    span {
      font-size: 2rem;
      margin-right: 15px;
    }
  }
}
