<div class="tasks-card">
  <app-dynamic-card>
    <div class="card__header">
      <h2>Tasks:</h2>
      <ul>
        <li><span class="material-icons">bug_report</span> Bugs</li>
        <li><span class="material-icons">language</span> Website</li>
        <li><span class="material-icons">cloud</span> Server</li>
      </ul>
    </div>
    <div class="card__body">
      <ul>
        <li>
          <input type="checkbox">
          <p>Sign cotract for "What are conference organizers afraid of?"</p>
          <div>
            <span>
              <span class="material-icons">edit</span>
            </span>
            <span>
              <span class="material-icons">close</span>
            </span>
          </div>
        </li>
        <li>
          <input type="checkbox">
          <p>Sign cotract for "What are conference organizers afraid of?"</p>
          <div>
            <span>
              <span class="material-icons">edit</span>
            </span>
            <span>
              <span class="material-icons">close</span>
            </span>
          </div>
        </li>
        <li>
          <input type="checkbox">
          <p>Sign cotract for "What are conference organizers afraid of?"</p>
          <div>
            <span>
              <span class="material-icons">edit</span>
            </span>
            <span>
              <span class="material-icons">close</span>
            </span>
          </div>
        </li>
        <li>
          <input type="checkbox">
          <p>Sign cotract for "What are conference organizers afraid of?"</p>
          <div>
            <span>
              <span class="material-icons">edit</span>
            </span>
            <span>
              <span class="material-icons">close</span>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </app-dynamic-card>
</div>