<div class="tasks-card">
  <app-dynamic-card>
    <div class="card__header">
      <h2>Tasks:</h2>
      <ul>
        <li><span class="material-icons">{{tasksCardMenuTab?.linkIconName_1}}</span> {{tasksCardMenuTab?.linkTitle_1}}</li>
        <li><span class="material-icons">{{tasksCardMenuTab?.linkIconName_2}}</span> {{tasksCardMenuTab?.linkTitle_2}}</li>
        <li><span class="material-icons">{{tasksCardMenuTab?.linkIconName_3}}</span> {{tasksCardMenuTab?.linkTitle_3}}</li>
      </ul>
    </div>
    <!-- <div class="card__body">
      <ul>
        <li>
          <label>
            <input type="checkbox" hidden>
            <span class="checkmark"></span>
            <span> {{taskForBug?.bugTaskTitle_1}}</span>
          </label>
          <div>
            <span>
              <span class="material-icons">edit</span>
            </span>
            <span>
              <span class="material-icons">close</span>
            </span>
          </div>
        </li>
        <li>
          <label>
            <input type="checkbox" hidden>
            <span class="checkmark"></span>
            <span> {{taskForBug?.bugTaskTitle_2}}</span>
          </label>
          <div>
            <span>
              <span class="material-icons">edit</span>
            </span>
            <span>
              <span class="material-icons">close</span>
            </span>
          </div>
        </li>
        <li>
          <label>
            <input type="checkbox" hidden>
            <span class="checkmark"></span>
            <span> {{taskForBug?.bugTaskTitle_3}}</span>
          </label>
          <div>
            <span>
              <span class="material-icons">edit</span>
            </span>
            <span>
              <span class="material-icons">close</span>
            </span>
          </div>
        </li>
        <li>
          <label>
            <input type="checkbox" hidden>
            <span class="checkmark"></span>
            <span> {{taskForBug?.bugTaskTitle_4}}</span>
          </label>
          <div>
            <span>
              <span class="material-icons">edit</span>
            </span>
            <span>
              <span class="material-icons">close</span>
            </span>
          </div>
        </li>
      </ul>
    </div> -->

    <div class="card__body">
      <ul>
        <li>
          <label>
            <input type="checkbox" hidden>
            <span class="checkmark"></span>
            <span> Sign cotract for "What are conference organizers afraid of?"</span>
          </label>
          <div>
            <span>
              <span class="material-icons">edit</span>
            </span>
            <span>
              <span class="material-icons">close</span>
            </span>
          </div>
        </li>
        <li>
          <label>
            <input type="checkbox" hidden>
            <span class="checkmark"></span>
            <span> Sign cotract for "What are conference organizers afraid of?"</span>
          </label>
          <div>
            <span>
              <span class="material-icons">edit</span>
            </span>
            <span>
              <span class="material-icons">close</span>
            </span>
          </div>
        </li>
        <li>
          <label>
            <input type="checkbox" hidden>
            <span class="checkmark"></span>
            <span> Sign cotract for "What are conference organizers afraid of?"</span>
          </label>
          <div>
            <span>
              <span class="material-icons">edit</span>
            </span>
            <span>
              <span class="material-icons">close</span>
            </span>
          </div>
        </li>
        <li>
          <label>
            <input type="checkbox" hidden>
            <span class="checkmark"></span>
            <span> Sign cotract for "What are conference organizers afraid of?"</span>
          </label>
          <div>
            <span>
              <span class="material-icons">edit</span>
            </span>
            <span>
              <span class="material-icons">close</span>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </app-dynamic-card>
</div>




