<div class="tasks-card">
  <app-dynamic-card>
    <div class="card__header">
      <h2>Tasks:</h2>
      <ul>
        <li *ngFor="let tab of tasksCardMenuTabs" [ngClass]="{active: tab.isActive}" (click)="checkActiveTab(tab.linkTitle)"><span class="material-icons">{{tab.linkIconName}}</span> {{tab.linkTitle}}</li>
      </ul>
    </div>
    <div class="card__body">
      <ul>
        <li *ngFor="let taskForBugs of tasksForBugs">
          <label>
            <input type="checkbox" hidden>
            <span class="checkmark"></span>
            <span> {{taskForBugs.bugTaskTitle}}</span>
          </label>
          <div> 
            <span class="edit-icon">
              <span class="material-icons">edit</span>
            </span>
            <span class="close-icon">
              <span class="material-icons">close</span>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </app-dynamic-card>
</div>
