// Colors
$color-pink-600: #db2777;

// --text-color-light:#f8fafc;
$color-slate-50: #f8fafc;
// --side-bar-color: #f1f5f9;
$color-slate-100: #f1f5f9;
// --page-color: #e2e8f0;
$color-slate-200: #e2e8f0; 

$color-slate-300: #cbd5e1; 
$color-slate-400: #94a3b8;  
$color-slate-500: #64748b;

// --text-color-dark:#334155;
$color-slate-700: #334155;


$color-yellow-500: #eab308;
$color-blue-500: #3b82f6;
$color-green-500: #22c55e;
