@use '../../../assets/variables/variables.scss' as vars;

.user-cards-wrapper {

  display: grid;
  // grid-template-columns: 1fr;
  gap: 20px;

  grid-template-areas: 
  "user-profile-card"
  "profile-edit-card";


    @media (min-width: 576px) {
    }

    @media (min-width: 768px) {
    }

    @media (min-width: 1024px) {
    }

    @media (min-width: 1280px) {
      grid-template-areas: 
      "profile-edit-card user-profile-card ";
    }

    @media (min-width: 1440px) {
    }
}
