<!-- <p>work-index works!</p> -->
<div class="card">
  <div class="card__icon-wrapper" [style.backgroundColor]="performanceCard?.cardIconBackgroundColor">
    <img class="" [src]="performanceCard?.cardIconName">
  </div>
  <div class="card__text">
    <h4 class="card__title">{{performanceCard?.title}}</h4>
    <p class="card__indicator"><span class="material-icons">{{performanceCard?.indexIcon}}</span>{{performanceCard?.index}}</p>
    <hr>
    <p class="card__info">
      <a href="#">
        <span class="card__info-icon material-icons">{{performanceCard?.infoIconName}}</span>
        {{performanceCard?.info}}</a>
    </p>
  </div>
</div>
