/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
	font-family: 'Segoe UI';
	src: url('/assets/fonts/SegoeUI.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('/assets/fonts/SegoeUI-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

body {
  font-family: 'Segoe UI';
  font-weight: normal;
  color: var(--text-color-dark);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// :root {
//   --side-bar-color: #f1f5f9;
//   --page-color: #e2e8f0;
//   --text-color-dark:#334155;
//   --text-color-light:#f8fafc;
// }
body {
  background-color: #e2e8f0;

  & {
    &::-webkit-scrollbar {
      width: 3px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: #e2e8f0;
    }
    &::-webkit-scrollbar-thumb {
      background: #db2777;
      border-radius: 10px;
    }
  }
}

.title {
  font-size: 2rem;
  font-weight: bold;
}