<div class="dashboard dashboard-wrapper">
  <app-header [title]="title" ></app-header>

  <div class="performance-cards-wrapper">
    <app-performance-card *ngFor="let card of performanceCards; trackBy: trackByMethod" [performanceCard]="card"></app-performance-card>
  </div>

  <div class="activity-cards-wrapper">
    <app-activity-card *ngFor="let card of activityCards; trackBy: trackByMethod" [activityCard]="card"></app-activity-card>
  </div>

  <div class="task-and-employees-stats-cards-wrapper">
    <!-- <app-tasks-card *ngFor="let task of tasksForBugs; trackBy: trackByMethod" [taskForBug]="task" ></app-tasks-card> -->

    <app-tasks-card *ngFor="let card of tasksCardMenuTabs; trackBy: trackByMethod" [tasksCardMenuTab]="card" ></app-tasks-card>

    <app-employees-stats-card></app-employees-stats-card>
  </div>  
</div>

