<div class="dashboard dashboard-wrapper">
  <app-header [title]="title" ></app-header>

  <div class="performance-cards-wrapper">
    <app-performance-card *ngFor="let card of performanceCards; trackBy: trackByMethod" [performanceCard]="card"></app-performance-card>
  </div>

  <div class="activity-cards-wrapper">
    <app-activity-card *ngFor="let card of activityCards; trackBy: trackByMethod" [activityCard]="card"></app-activity-card>
  </div>

  <div class="task-and-employees-stats-cards-wrapper">
    <app-tasks-card [tasksCardMenuTabs]="tasksCardMenuTabs" [tasksForBugs]="tasksForBugs"></app-tasks-card>

    <app-employees-stats-card [newEmployeesDetails]="newEmployeesDetails"></app-employees-stats-card>
  </div>  
</div>

